{% extends "base.html" %}

{% block title %}Cursos{% endblock %}

{% block content %}
<h1>Cursos Disponíveis</h1>
<form action="{{ url_for('curso') }}" method="get">
    <div class="form-group">
        <label for="curso_nome">Selecione um curso:</label>
        <select class="form-control" id="curso_nome" name="curso_nome">
            {% for curso in cursos %}
            <option value="{{ curso.nome }}">{{ curso.nome }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Ver Grade Curricular</button>
</form>
{% endblock %}
